<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LogViewer.Properties.Settings.logsConnectionString"
            connectionString="Data Source=DESKTOP-OM4I5UM\SQLEXPRESS;Initial Catalog=logs;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>